# Garante que o npm respeite a versão do Node definida em engines
engine-strict=true

# Evita warnings de funding e audit no CI/Docker
fund=false
audit=false

# Salva dependências com versão exata (sem ^)
save-exact=false
